section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 245px);
  justify-content: space-between;
  grid-gap: 3.5rem;
}

@media only screen and (max-width: 767px) {
  section.mh5 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .button.mv5 {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 590px) {
   section {
     justify-content: center;
   }
}
