.card {
  width: 245px;
  height: 330px;
  font-size: 14px;
}

body.dark-mode .card {
  box-shadow: 0 0 10px #192631;
}

.card-content {
  padding: 0px 20px;
}

.card {
  border-radius: 5px;
  background-color: white;
}

.card img {
  border-radius: 5px 5px 0 0;
  max-height: 50%;
  width: 100%;
}

.card-content span {
  font-weight: bold;
  line-height: 24px;
}

.card-content h3 {
  font-weight: 800;
  font-size: 1.25em;
}
