body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
  color: var(--very-dark-blue-text);
}

.card-page {
  background-color: white;
}

body.dark-mode {
  background-color: var(--very-dark-blue);
  color: white;
}
