header {
  background-color: white;
  box-shadow: 0px 0px 5px 1px #e6e4e4;
}

body.dark-mode header {
  background-color: var(--dark-blue-elements);
  box-shadow: 0 0 10px #192631;
}

.color-mode {
  width: 90px;
}

.color-mode:hover {
  cursor: pointer;
}

header h2 {
  font-weight: 800;
}

@media only screen and (max-width: 767px) {
  header.pl5 {
    padding-left: 1rem;
  }

  header h2 {
    font-size: 1rem;
  }

  header h5 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  div.color-mode {
    margin-right: 1rem;
  }

}
