.region-filter {
  position: relative;
}

.current-region,
.region-options {
  background-color: white;
  padding: 1rem 1.2rem;
  width: 185px;
}

.region-options {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  position: absolute;
  top: 3.26rem;
}

.region-options span {
  margin: 0.4rem 0;
}

@media only screen and (max-width: 767px) {
  .current-region,
  .region-options {
    width: 210px;
    font-size: 0.8rem;
  }
}

.active .down-arrow {
  transform: rotate(-180deg);
  transition: 0s;
}
